<p>Hi {{ name }},</p>

<p>You have been invited as an Admin on behalf of [Company Name]</p>

<p>Please find your system generated credentials:</p>
<p>
    User Name: {{ email }}
</p>
<p>
    Password: {{ password }}
</p>

<p>
    Click below to sign in

    (https://www.dittosoftware.com/{{companyname}}/login)
</p>
<p>Cheers</p>
<p>-The Ditto Plus Team</p>